@import url("./file.scss");
@import url("./folder.scss");
@import url("./fonts.scss");
@import url("./navigation-panel.scss");

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto Regular";
}

.main {
  min-height: 100vh;
  background: rgb(255, 245, 214);
}

.container {
  max-width: 66.6666%;
  margin: auto;
  padding-bottom: 300px;
}

.file-container {
  max-width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.folder-title{
  padding-top: 20px;
}

.nothing{
  margin-top: 50px;
  text-align: center;
}

@media (max-width:1024px) {
  .container{
    max-width: 100%;
  }
  .file-container{
    margin-top: 30px;
  }
  .folder-title{
    padding-left: 30px;
  }
}

@media (max-width: 768px){
  
  .folder-title{
    padding-left: 30px;
  }
}

